 <!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'enroll/img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'enroll/css/server_style.css' %}">
    <title>500 Server Error</title>
</head>
<body>
    <div class="container">
        <h1>500 <span class="server-icon">🛠️</span> Server Error</h1>
        <p>Oops! Something went wrong on our end.</p>
        <p>Please <a href="/">refresh the page</a> or try again later.</p>
    </div>
</body>
</html>

 

 