{% extends 'base.html' %}

{% block content %}

<div class="container mt-5" style="padding-top: 50px;">
    <div class="row d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="col-sm-5 size">
            <h4 class="alert  text-center" style="background-color: #7eb8ff;color:#fff">Update Your Password</h4>
            <form action="{% url 'update_password' %}" onsubmit="return validate_password()" class="row g-1 needs-validation" novalidate method="POST">
                {% csrf_token %}
                <label for="passwordInputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="passwordInputPassword" name="password" required autocomplete="off" style="border-color:#7eb8ff;">
                
                <label for="conform_usernameInputPassword" class="form-label">confirm password</label>
                <input type="password" class="form-control" id="conform_usernameInputPassword" name="conform-password" required autocomplete="off" style="border-color:#7eb8ff;">
                
                <div id="error-input-password"></div>
                <button type="submit" class="btn mt-4"style="background-color:#7eb8ff;color:aliceblue"  onmouseover="this.style.backgroundColor='#7eb8ff'"; onmouseout="this.style.backgroundColor='#7eb8ffd5'" >update password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}