<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Message</title>
</head>
<body>
    <h1>Topic</h1>
    <h3>{{topic}}</h3>

    <h1>Name</h1>
    <h3>{{Name}}</h3> 
    
    <h1>Email</h1>
    <h3>{{Email}}</h3> 
    <p>-----------------------------------------------------</p>
    <h1>Message</h1>
    <pre>
    <code style=" font-family: 'Noto Sans', sans-serif;font-size:larger;">
    {{user_message}}
    </code>
    </pre>
</body>
</html>